@import url(https://fonts.googleapis.com/css?family=Oswald:300|Open+Sans:700,400);

#main {
  background-image: url('../img/journal.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:100vh;
  z-index: -10;
}
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
  font-family: 'Roboto Mono', monospace;
background
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #757575;
}

/*
	=================================================================================================
		Nav Bar.
	=================================================================================================
*/
#nav-bar {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 9999;
}
@media screen and (max-width: 1023px) {
  #nav-bar {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: rgb(17, 16, 16);
  }
}
@media screen and (max-width: 559px) {
  #nav-bar {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: rgb(72, 57, 57);
  }
}
@media screen and (max-height: 719px) {
  #nav-bar {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: rgb(48, 43, 43);
  }
}
#nav-bar .nav-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 3.125rem;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  #nav-bar .nav-container {
    transform: none;
    top: 0;
    padding: 0;
  }
}
@media screen and (max-width: 559px) {
  #nav-bar .nav-container {
    transform: none;
    top: 0;
    padding: 0;
  }
}
@media screen and (max-height: 719px) {
  #nav-bar .nav-container {
    transform: none;
    top: 0;
    padding: 0;
  }
}
#nav-bar .nav-container .toggle-nav {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #F06868;
  padding: 0.625rem;
}
@media screen and (max-width: 559px) {
  #nav-bar .nav-container .toggle-nav {
    display: block;
    position: relative;
  }
}
#nav-bar .nav-container .toggle-nav i {
  color: #F4F7F7;
  font-size: 3rem;
}
#nav-bar .nav-container .toggle-nav i:hover {
  border: none;
}
#nav-bar .nav-container .toggle-nav i:active {
  color: #0e393b;
}
@media screen and (max-width: 559px) {
  #nav-bar .nav-container ul {
    display: none;
  }
}
#nav-bar .nav-container ul li {
  text-align: center;
}
@media screen and (max-width: 1023px) {
  #nav-bar .nav-container ul li {
    display: inline-table;
  }
}
@media screen and (max-height: 719px) {
  #nav-bar .nav-container ul li {
    display: inline-table;
  }
}
@media screen and (max-width: 559px) {
  #nav-bar .nav-container ul li {
    display: block;
  }
}
#nav-bar .nav-container ul li a {
  color: #F4F7F7;
  display: block;
  text-transform: uppercase;
  padding: 0.9375rem 0.9375rem;
}
@media screen and (max-width: 1023px) {
  #nav-bar .nav-container ul li a {
    cursor: pointer;
  }
}
@media screen and (max-height: 719px) {
  #nav-bar .nav-container ul li a {
    cursor: pointer;
  }
}
@media screen and (max-width: 559px) {
  #nav-bar .nav-container ul li a {
    font-size: 2rem;
    padding: 0.9375rem 0.625rem;
    cursor: pointer;
  }
}
#nav-bar .nav-container ul li a:hover {
  border: none;
  color: #F4F7F7;
}
@media screen and (max-width: 1023px) {
  #nav-bar .nav-container ul li a:hover {
    color: #0e393b;
  }
}
@media screen and (max-width: 559px) {
  #nav-bar .nav-container ul li a:hover {
    color: #F4F7F7;
  }
}
@media screen and (max-height: 719px) {
  #nav-bar .nav-container ul li a:hover {
    color: #0e393b;
  }
}
#nav-bar .nav-container ul li.active a {
  background-color: #F06868;
  color: #F4F7F7;
}
@media screen and (max-width: 1023px) {
  #nav-bar .nav-container ul li.active a {
    background-color: #eb3a3a;
    border: none;
    color: #F4F7F7;
  }
}
@media screen and (max-width: 559px) {
  #nav-bar .nav-container ul li.active a {
    background-color: #eb3a3a;
    color: #F4F7F7;
  }
}
@media screen and (max-height: 719px) {
  #nav-bar .nav-container ul li.active a {
    background-color: #F06868;
    color: #F4F7F7;
  }
}
@media screen and (max-height: 719px) {
  #nav-bar .nav-container ul li.active a:hover {
    color: #0e393b;
  }
}


@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #757575;
}



